#home.container
  %br
  .row
    .col-md-3
    .col-md-6
      %p.text-center
        Boy Scout Troop 1496 will be holding its 12th annual Electronics Waste (E-Waste) Recycling Fundraiser on Saturday, June 2, 2018.
        = link_to about_path do
          Read more
          %span.fa.fa-arrow-circle-right
  .row
    .col-md-4
    .col-md-4.title
      %h1.text-center
        Schedule a Pickup

      = render 'form'

  %br

  .row
    .col-md-3
    .col-md-6
      .text-center
        = image_tag "ecycle3.jpg", class: 'img-fluid rounded'

  %br
  .row
    .col-md-12
      .text-center= render 'facebook_button'
      %br
