#home.container-fluid
  .row
    .col-md-3
    .col-md-6.title
      %h1.text-center
        Bainbridge ECycle
        %br
        2018
      %h2.text-center
        Boy Scout Troop 1496
      %br
      %h3.text-center
        Schedule a Pickup on June 2

      = render 'form'

