#home.container
  %br
  .row
    .col-sm
      #date-block
        Saturday
        %br
        June 2, 2018

    .col-sm.title
      %h1.text-center
        Schedule a Pickup

      = render 'form'

    .col-sm
      .text-center
        = image_tag "ecycle3.jpg", class: 'img-fluid rounded'

  .row
    .col-md-12
      .text-center= render 'facebook_button'
