.container
  %h1 Become an E-Waste pickup driver!

  %p 
    By becoming a driver, you'll be assigned pickups for e-waste that you, and one or more Scouts, will be assigned to. Assignments will be emailed to you on the evening of June 1. 
  %p
    Thanks for your contribution to this fundraiser and Troop 1456!

  %br

  .row
    .col-md-6
      = render 'form'


    .col-md-1
    .col-md-5
      .card
        .card-body
          %h5.card-title Important Details
          %table.table
            %tr
              %th Date
              %td.text-right June 2, 2018
            %tr
              %th Complete pickups by
              %td.text-right 2:00pm
            %tr
              %th Deliver to First Baptist Church by
              %td.text-right 2:30pm

  %br
  %br