$primary: #457D2D;
$primary-complementary: #7DCA5C;
$black: #222;
$boy-scout-green: #CE1126;
$boy-scout-blue: #003F87;
$boy-scout-green: #01713F;


body {
  font-family: 'Helvetica Neue', Verdana, Geneva, arial, sans-serif;
}

.date-block {
  background-color: $boy-scout-green;
  text-align: center;
  color: #ffffff;
  line-height: 1em;
  padding: 0.7em;
  border: 3px solid $boy-scout-green;
}

#home {
  .about {
    background-color: $boy-scout-green;
    text-align: center;
    color: #ffffff;
    line-height: 1.2em;
    padding: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.7em;
    border: 3px solid $boy-scout-green;  
    margin-bottom: 1em;    
    
    h1 {
      color: #fff;
      padding-top: 0.5em;
      font-size: 2.5em;
      line-height: 1em;
    }  
  }
  h2 {
    padding-top: 0.5em;
    font-size: 2.5em;
    line-height: 1em;
  }
  h3 {
    padding-top: 0em;
    line-height: 1em;
    font-size: 2.1em;
    font-weight: 300;
    color: #ffffff;
  }

  .title {
    padding-top: 0;
    padding-bottom: 1em;
    margin-bottom: 0.1em;
  }
}

h1, h2, h3, h4 {
  color: $boy-scout-green;
  padding-top: 1em;
  padding-bottom: 0.3em;
}


.alert {
  h1, h2, h3, h4 {
    padding-top: 0;
  }
}

.title h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0;
}

.col-sm {
  margin-top: 1em;
}

.navbar {
  background-color: $boy-scout-green;
  .navbar-brand {
  }
  .nav-item {
    font-size: 1.2em;
  }
  a {
    color: #fff !important;
    &:hover {
      color: lighten($boy-scout-green, 30%);
    }
  }
}

.custom-toggler.navbar-toggler {
    border-color: #ffffff;
    border-width: 2px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-lg {
  background-color: $boy-scout-blue;
  color: #ffffff;
}

.alert.alert-success {
  margin-top: 2em;
  color: $boy-scout-green;

  border-color: $boy-scout-green;
  margin-bottom: 2em;
}

th.message, td.message {
  width: 28em;
}

table.settings {
  th {
    width: 15em;
  }
}
.stripe-button-el span {
  font-size: 1.23em !important;
  font-weight: 500 !important;
  height: 44px !important;
  line-height: 44px !important;
  background-image: none !important;
  background-color: #003F87 !important;
}

nav.pagination {
  .page, .next, .last, .first {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

//small screen sizes
@media (max-width: 700px) {
  #home .title {
    border: none;
  }
}
.facebook {
  margin-top: 0.5em;  
}
footer {
  padding-top: 1em;
}