.container
  - if flash
    .row
      .col-md-2
      .col-md-8
        - if flash[:notice]
          .alert.alert-success
            = notice.html_safe
          %br  
        - if flash[:alert]
          .alert.alert-warning
            = alert.html_safe
        - if flash[:error]
          %br
          .alert.alert-danger