%head
  = render 'google_analytics' if Rails.env.production?
  %title Bainbridge Island Troop 1496 Electronic Recycling Day
  = csrf_meta_tags
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'