%head
  = render 'google_analytics' if Rails.env.production?
  %title Ecycle Today! Bainbridge Island Troop 1496 Electronics Recycling Day
  %meta(name="description" content="Bainbridge Island Boy Scout Troop 1496 will be holding its 13th annual Electronics Recycling Day (E-Waste) Fundraiser on Saturday, June 1, 2019 at First Baptist Church. Recycle your old electronics!")
  = csrf_meta_tags
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %link(rel="stylesheet" type="text/css" href="/fonts/proxima-nova-web-fonts-master/fonts/fonts.min.css")
  %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'