.row
  .col-md-2
  .col-md-8
    %h4.text-center Suggested donations
    %table.table
      %thead
        %tr
          %th Item
          %th.text-right Amount

      %tbody
        %tr
          %td Cellphone, tablet, iPod
          %td.text-right $10

        %tr
          %td Desktop PC
          %td.text-right $20

        %tr
          %td Laptop
          %td.text-right $20

        %tr
          %td Printer (large)
          %td.text-right $20 

        %tr
          %td Printer (small)
          %td.text-right $10

        %tr
          %td TV, Stereo (large)
          %td.text-right $20

        %tr
          %td DVD Player, VCR
          %td.text-right $10

        %tr
          %td Copier/Scanner
          %td.text-right $20

        %tr
          %td Other small electronics
          %td.text-right $10